@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  font-family: "Audiowide", sans-serif;
  cursor: url("./../img/cursor.png"), auto;
}

.game {
  height: 100vh;
  background-image: url("./../img/BG1.png");
  background-size: cover;
}

.start-screen {
  width: 640px;
  height: 480px;
  background-image: url("./../img/Window.png");
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.start-screen__title {
  margin-top: 2%;
  margin-bottom: 13%;
  color: #e4f5f4;
}

.start-screen__button {
  width: 53px;
  height: 53px;
  background-color: transparent;
  background-size: cover;
  border: none;
  border-radius: 10px;
  cursor: inherit;
  outline: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  width: 300px;
  height: 85px;
  margin-top: 2%;
  border-radius: 20px;
}

.start-screen__button:hover {
  -webkit-box-shadow: 0 0 20px 5px white, 0 0 5px 3px inset white;
          box-shadow: 0 0 20px 5px white, 0 0 5px 3px inset white;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.start-screen__button:hover {
  -webkit-box-shadow: 0 0 20px 5px white, 0 0 5px 9px inset white;
          box-shadow: 0 0 20px 5px white, 0 0 5px 9px inset white;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.start-screen__button:active {
  -webkit-transform: translateY(-2%);
          transform: translateY(-2%);
}

.start-screen__button--start {
  background-image: url("./../img/Start_BTN.png");
}

.start-screen__button--exit {
  background-image: url("./../img/Exit_BTN.png");
}

.start-screen__button--sound {
  width: 53px;
  height: 53px;
  background-color: transparent;
  background-size: cover;
  border: none;
  border-radius: 10px;
  cursor: inherit;
  outline: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background-image: url("./../img/Sound_BTN.png");
}

.start-screen__button--sound:hover {
  -webkit-box-shadow: 0 0 20px 5px white, 0 0 5px 3px inset white;
          box-shadow: 0 0 20px 5px white, 0 0 5px 3px inset white;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.start-screen__button--sound__line {
  width: 100%;
  height: 5px;
  background-color: red;
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
}

.modal-result {
  width: 640px;
  height: 480px;
  background-image: url("./../img/Window.png");
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #e4f5f4;
}

.modal-result__button {
  width: 53px;
  height: 53px;
  background-color: transparent;
  background-size: cover;
  border: none;
  border-radius: 10px;
  cursor: inherit;
  outline: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.modal-result__button:hover {
  -webkit-box-shadow: 0 0 20px 5px white, 0 0 5px 3px inset white;
          box-shadow: 0 0 20px 5px white, 0 0 5px 3px inset white;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.modal-result__button--leaderboard {
  background-image: url("./../img/Rating_BTN.png");
  margin: 1rem 0.5rem;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.modal-result__input-player-name {
  font-size: 1.6rem;
  color: #3a4c9b;
  text-align: center;
  font-weight: bold;
  font-family: inherit;
  margin-top: 0.5rem;
  border-radius: 10px;
  outline: none;
  background-color: #e5f0ff;
  padding: 0.4rem 0;
}

.modal-result__trophy {
  width: 160px;
  margin: 1rem 0;
}

.modal-result__info-name {
  margin-top: 1rem;
}

.modal-leaderboard {
  width: 640px;
  height: 480px;
  background-image: url("./../img/Window.png");
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #e4f5f4;
}

.modal-leaderboard__title {
  margin-top: 2%;
  margin-bottom: 5%;
  text-align: center;
}

.modal-leaderboard__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
}

.modal-leaderboard__button {
  width: 53px;
  height: 53px;
  background-color: transparent;
  background-size: cover;
  border: none;
  border-radius: 10px;
  cursor: inherit;
  outline: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-right: 0.5rem;
}

.modal-leaderboard__button:hover {
  -webkit-box-shadow: 0 0 20px 5px white, 0 0 5px 3px inset white;
          box-shadow: 0 0 20px 5px white, 0 0 5px 3px inset white;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.modal-leaderboard__button--menu {
  background-image: url("./../img/Menu_BTN.png");
}

.modal-leaderboard__button--exit {
  background-image: url("./../img/Close_BTN.png");
}

.modal-leaderboard__player-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 0.5rem auto;
  background-color: rgba(94, 171, 247, 0.2);
  padding: 0.5rem 1rem;
}

.battle-screen {
  height: 100vh;
}

.battle-screen__game-over {
  color: #e4f5f4;
  font-size: 3rem;
  position: fixed;
  left: 50%;
  top: 5%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.battle-screen__backdrop {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(79, 3, 3, 0.5);
}

.battle-screen__counter {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #e4f5f4;
  font-size: 6rem;
}

.battle-screen__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1%;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.battle-screen__score {
  color: #e4f5f4;
  font-size: 1.8rem;
}

.battle-screen__life {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.battle-screen__hp-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.battle-screen__hp {
  width: 49px;
  height: 41px;
  background-image: url("./../img/HP_Icon.png");
}

.battle-screen__armor-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 5%;
  margin-right: 2%;
}

.battle-screen__armor {
  width: 37px;
  height: 35px;
  background-image: url("./../img/Armor_Icon.png");
  margin-left: 2%;
}

.battle-screen__lvl {
  width: 271px;
  height: 76px;
  background-image: url("./../img/Table.png");
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  font-size: 2.5rem;
  color: white;
  padding-top: 0.4rem;
}

.battle-screen__spaceship {
  width: 90px;
  height: 233px;
  background-image: url("./../img/spaceship_sprites.png");
  position: fixed;
  -webkit-animation: spaceship-move 400ms steps(7) infinite;
          animation: spaceship-move 400ms steps(7) infinite;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.battle-screen__shield {
  width: 140px;
  height: 140px;
  position: fixed;
  background-image: url("./../img/shield_sprites.png");
  -webkit-animation: shield-move 2000ms steps(16) infinite;
          animation: shield-move 2000ms steps(16) infinite;
  left: 200px;
}

.battle-screen__bullet {
  width: 45px;
  height: 45px;
  position: absolute;
  background-image: url("./../img/bullet_sprites.png");
  -webkit-animation: bullet-move 400ms steps(8) infinite;
          animation: bullet-move 400ms steps(8) infinite;
  left: 100px;
  top: 100px;
}

.battle-screen__enemy1 {
  width: 100px;
  height: 100px;
  position: fixed;
  background-image: url("./../img/enemy1_sprites.png");
  -webkit-animation: enemy1-move 200ms steps(8) infinite;
          animation: enemy1-move 200ms steps(8) infinite;
}

.battle-screen__enemy2 {
  width: 200px;
  height: 200px;
  position: fixed;
  background-image: url("./../img/enemy2_sprites.png");
  -webkit-animation: enemy2-move 200ms steps(8) infinite;
          animation: enemy2-move 200ms steps(8) infinite;
  top: 300px;
}

.battle-screen__enemy3 {
  width: 100px;
  height: 100px;
  position: fixed;
  background-image: url("./../img/enemy3_sprites.png");
  -webkit-animation: enemy3-move 200ms steps(5) infinite;
          animation: enemy3-move 200ms steps(5) infinite;
  top: 200px;
}

.battle-screen__spaceship-explosion {
  width: 340px;
  height: 340px;
  position: fixed;
  background-image: url("./../img/spaceship-explosion_sprites.png");
  -webkit-animation: spaceship-explosion-move 2000ms steps(9) infinite;
          animation: spaceship-explosion-move 2000ms steps(9) infinite;
  top: 400px;
}

.battle-screen__explosion-big {
  width: 250px;
  height: 250px;
  position: fixed;
  background-image: url("./../img/explosion-big_sprites.png");
  -webkit-animation: explosion-big-move 800ms steps(14) infinite;
          animation: explosion-big-move 800ms steps(14) infinite;
  top: 500px;
}

.battle-screen__explosion-small {
  width: 130px;
  height: 130px;
  position: fixed;
  background-image: url("./../img/explosion-small_sprites.png");
  -webkit-animation: explosion-small-move 800ms steps(14) infinite;
          animation: explosion-small-move 800ms steps(14) infinite;
  left: 100px;
}

.battle-screen__asteroid {
  width: 118px;
  height: 120px;
  position: fixed;
  background-image: url("./../img/asteroids_sprites.png");
  left: 200px;
  top: 200px;
}

.battle-screen__health {
  width: 70px;
  height: 70px;
  position: fixed;
  background-image: url("./../img/health.png");
  left: 200px;
  top: 300px;
}

.battle-screen__rocket {
  width: 20px;
  height: 42px;
  position: fixed;
  background-image: url("./../img/rocket.png");
  left: 200px;
  top: 350px;
}

.battle-screen__bomb {
  width: 70px;
  height: 70px;
  position: fixed;
  background-image: url("./../img/bombs_sprites.png");
  -webkit-animation: bomb-move 1000ms steps(2) infinite;
          animation: bomb-move 1000ms steps(2) infinite;
  left: 200px;
  top: 400px;
}

@-webkit-keyframes spaceship-move {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: -630px;
  }
}

@keyframes spaceship-move {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: -630px;
  }
}

@-webkit-keyframes enemy1-move {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -800px;
  }
}

@keyframes enemy1-move {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -800px;
  }
}

@-webkit-keyframes enemy2-move {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -1600px;
  }
}

@keyframes enemy2-move {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -1600px;
  }
}

@-webkit-keyframes enemy3-move {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -500px;
  }
}

@keyframes enemy3-move {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -500px;
  }
}

@-webkit-keyframes spaceship-explosion-move {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -3060px;
  }
}

@keyframes spaceship-explosion-move {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -3060px;
  }
}

@-webkit-keyframes explosion-big-move {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -3500px;
  }
}

@keyframes explosion-big-move {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -3500px;
  }
}

@-webkit-keyframes explosion-small-move {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -1820px;
  }
}

@keyframes explosion-small-move {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -1820px;
  }
}

@-webkit-keyframes bullet-move {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -360px;
  }
}

@keyframes bullet-move {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -360px;
  }
}

@-webkit-keyframes shield-move {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -2400px;
  }
}

@keyframes shield-move {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -2400px;
  }
}

@-webkit-keyframes bomb-move {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -140px;
  }
}

@keyframes bomb-move {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -140px;
  }
}

.hide {
  display: none;
}
/*# sourceMappingURL=style.css.map */