@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

$text-color: #e4f5f4;

@mixin window {
    width: 640px;
    height: 480px;
    background-image: url("./../img/Window.png");

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin button-base {
    width: 53px;
    height: 53px;
    background-color: transparent;
    background-size: cover;
    border: none;
    border-radius: 10px;
    cursor: inherit;
    outline: none;
    transition: all 0.2s;

    // width: 53px; xx
    // height: 53px; xx
    // background-color: transparent;
    // background-size: cover;
    // border: none;
    // border-radius: 20px; xx
    // cursor: inherit;
    // margin-top: 2%; !
    // outline: none;
    // transition: all 0.2s;

    &:hover {
        box-shadow: 0 0 20px 5px white, 0 0 5px 3px inset white;
        transform: scale(1.05);
    }
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: "Audiowide", sans-serif;
    cursor: url("./../img/cursor.png"), auto;
}

.game {
    height: 100vh;
    background-image: url("./../img/BG1.png");
    background-size: cover;
}

.start-screen {
    // width: 640px;
    // height: 480px;
    // background-image: url("./../img/Window.png");

    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    @include window();

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    &__title {
        margin-top: 2%;
        margin-bottom: 13%;
        color: $text-color;
    }

    &__button {
        @include button-base();
        // background-color: transparent;
        // background-size: cover;
        // border: none;
        // cursor: inherit;
        // outline: none;
        // transition: all 0.2s;
        width: 300px;
        height: 85px;
        margin-top: 2%;
        border-radius: 20px;

        &:hover {
            box-shadow: 0 0 20px 5px white, 0 0 5px 9px inset white;
            transform: scale(1.02);
        }

        &:active {
            transform: translateY(-2%);
        }

        &--start {
            background-image: url("./../img/Start_BTN.png");
        }

        &--exit {
            background-image: url("./../img/Exit_BTN.png");
        }

        &--sound {
            @include button-base();
            background-image: url("./../img/Sound_BTN.png");

            &__line {
                width: 100%;
                height: 5px;
                background-color: red;
                transform: rotate(-50deg);
            }

            // &:hover {
            //     box-shadow: 0 0 20px 5px white, 0 0 5px 3px inset white;
            // }
        }
    }
}

.modal-result {
    @include window;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    color: $text-color;

    &__button {
        @include button-base();

        &--leaderboard {
            background-image: url("./../img/Rating_BTN.png");
            margin: 1rem 0.5rem;
            transform: scale(1.1);
        }
    }

    &__input-player-name {
        font-size: 1.6rem;
        color: #3a4c9b;
        text-align: center;
        font-weight: bold;
        font-family: inherit;
        margin-top: 0.5rem;
        border-radius: 10px;
        outline: none;
        background-color: #e5f0ff;
        padding: 0.4rem 0;
    }

    &__trophy {
        width: 160px;
        margin: 1rem 0;
    }

    &__info-name {
        margin-top: 1rem;
    }
}

.modal-leaderboard {
    @include window();
    color: $text-color;

    &__title {
        margin-top: 2%;
        margin-bottom: 5%;
        text-align: center;
    }

    &__buttons {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }

    &__button {
        @include button-base();
        margin-right: 0.5rem;

        &--menu {
            background-image: url("./../img/Menu_BTN.png");
        }

        &--exit {
            background-image: url("./../img/Close_BTN.png");
        }
    }

    &__player-name {
        display: flex;
        width: 80%;
        margin: 0.5rem auto;
        background-color: hsla(210, 91%, 67%, 0.2);
        padding: 0.5rem 1rem;
    }
}

.battle-screen {
    height: 100vh;

    &__game-over {
        color: $text-color;
        font-size: 3rem;
        position: fixed;
        left: 50%;
        top: 5%;
        transform: translateX(-50%);
    }

    &__backdrop {
        position: absolute;
        height: 100vh;
        width: 100vw;
        background-color: hsla(0, 93%, 16%, 0.5);
    }

    &__counter {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);

        color: $text-color;
        font-size: 6rem;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        padding: 1%;
        opacity: 0;
        transition: opacity 1s;
    }

    &__score {
        color: $text-color;
        font-size: 1.8rem;

        &__number {
        }
    }

    &__life {
        display: flex;
        flex-direction: column;
    }

    &__hp-bar {
        display: flex;
        justify-content: flex-end;
    }

    &__hp {
        width: 49px;
        height: 41px;
        background-image: url("./../img/HP_Icon.png");
    }

    &__armor-bar {
        display: flex;
        justify-content: flex-end;
        margin-top: 5%;
        margin-right: 2%;
    }

    &__armor {
        width: 37px;
        height: 35px;
        background-image: url("./../img/Armor_Icon.png");
        margin-left: 2%;
    }

    &__lvl {
        width: 271px;
        height: 76px;
        background-image: url("./../img/Table.png");
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 2.5rem;
        color: white;
        padding-top: 0.4rem;
    }

    &__spaceship {
        width: 90px;
        height: 233px;
        background-image: url("./../img/spaceship_sprites.png");
        position: fixed;
        // transform: translateY(55px);
        // bottom: 0;
        // left: 50%;
        animation: spaceship-move 400ms steps(7) infinite;
        transition: transform 1s;
    }

    &__shield {
        width: 140px;
        height: 140px;
        position: fixed;
        background-image: url("./../img/shield_sprites.png");
        animation: shield-move 2000ms steps(16) infinite;

        left: 200px;
    }

    &__bullet {
        width: 45px;
        height: 45px;
        position: absolute;
        background-image: url("./../img/bullet_sprites.png");
        animation: bullet-move 400ms steps(8) infinite;

        left: 100px;
        top: 100px;
    }

    &__enemy1 {
        width: 100px;
        height: 100px;
        position: fixed;
        background-image: url("./../img/enemy1_sprites.png");
        animation: enemy1-move 200ms steps(8) infinite;
    }

    &__enemy2 {
        width: 200px;
        height: 200px;
        position: fixed;
        background-image: url("./../img/enemy2_sprites.png");
        animation: enemy2-move 200ms steps(8) infinite;

        top: 300px;
    }

    &__enemy3 {
        width: 100px;
        height: 100px;
        position: fixed;
        background-image: url("./../img/enemy3_sprites.png");
        animation: enemy3-move 200ms steps(5) infinite;

        top: 200px;
    }

    &__spaceship-explosion {
        width: 340px;
        height: 340px;
        position: fixed;
        background-image: url("./../img/spaceship-explosion_sprites.png");
        animation: spaceship-explosion-move 2000ms steps(9) infinite;

        top: 400px;
    }

    &__explosion-big {
        width: 250px;
        height: 250px;
        position: fixed;
        background-image: url("./../img/explosion-big_sprites.png");
        animation: explosion-big-move 800ms steps(14) infinite;

        top: 500px;
    }

    &__explosion-small {
        width: 130px;
        height: 130px;
        position: fixed;
        background-image: url("./../img/explosion-small_sprites.png");
        animation: explosion-small-move 800ms steps(14) infinite;

        left: 100px;
    }

    &__asteroid {
        width: 118px;
        height: 120px;
        position: fixed;
        background-image: url("./../img/asteroids_sprites.png");

        left: 200px;
        top: 200px;
    }

    &__health {
        width: 70px;
        height: 70px;
        position: fixed;
        background-image: url("./../img/health.png");

        left: 200px;
        top: 300px;
    }

    &__rocket {
        width: 20px;
        height: 42px;
        position: fixed;
        background-image: url("./../img/rocket.png");

        left: 200px;
        top: 350px;
    }

    &__bomb {
        width: 70px;
        height: 70px;
        position: fixed;
        background-image: url("./../img/bombs_sprites.png");
        animation: bomb-move 1000ms steps(2) infinite;

        left: 200px;
        top: 400px;
    }
}

@keyframes spaceship-move {
    from {
        background-position-x: 0px;
    }

    to {
        background-position-x: -90px * 7;
    }
}

@keyframes enemy1-move {
    from {
        background-position-x: 0;
    }

    to {
        background-position-x: -100px * 8;
    }
}

@keyframes enemy2-move {
    from {
        background-position-x: 0;
    }

    to {
        background-position-x: -200px * 8;
    }
}

@keyframes enemy3-move {
    from {
        background-position-x: 0;
    }

    to {
        background-position-x: -100px * 5;
    }
}

@keyframes spaceship-explosion-move {
    from {
        background-position-x: 0;
    }

    to {
        background-position-x: -340px * 9;
    }
}

@keyframes explosion-big-move {
    from {
        background-position-x: 0;
    }

    to {
        background-position-x: -250px * 14;
    }
}

@keyframes explosion-small-move {
    from {
        background-position-x: 0;
    }

    to {
        background-position-x: -130px * 14;
    }
}

@keyframes bullet-move {
    from {
        background-position-x: 0;
    }

    to {
        background-position-x: -45px * 8;
    }
}

@keyframes shield-move {
    from {
        background-position-x: 0;
    }

    to {
        background-position-x: -150px * 16;
    }
}

@keyframes bomb-move {
    from {
        background-position-x: 0;
    }

    to {
        background-position-x: -70px * 2;
    }
}

.hide {
    display: none;
}
